@def selectionBorderWidth 2px;
.cellTableWidget {width:100%;}
.cellTableFirstColumn {}
.cellTableLastColumn {}
.cellTableFooter {}
.cellTableHeader {color:#888;border-bottom:1px solid #eee;font-weight:bolder;text-align:left;padding:4px}
.cellTableCell {border-bottom:1px solid #eee;padding:4px}
.cellTableCell a {color:#000;font-weight:bolder;}
.cellTableFirstColumnFooter {}
.cellTableFirstColumnHeader {}
.cellTableLastColumnFooter {}
.cellTableLastColumnHeader {}
.cellTableSortableHeader {}
.cellTableSortableHeader:hover {cursor:pointer;}
.cellTableSortedHeaderAscending {}
.cellTableSortedHeaderDescending {}
.cellTableEvenRow {}
.cellTableEvenRowCell {}
.cellTableOddRow {}
.cellTableOddRowCell {}
.cellTableHoveredRow {cursor:pointer;background:#eee;}
.cellTableHoveredRowCell {}
.cellTableKeyboardSelectedRow {}
.cellTableKeyboardSelectedRowCell {}
.cellTableSelectedRow {background:#9FAFD1;}
.cellTableSelectedRowCell {}
.cellTableKeyboardSelectedCell {}
@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
	margin: 30px;
}
