/* bootstrap modifications */
body {
	padding-top: 10px;
}

.modal {
	left: 50px;
	right: 50px;
	width: auto;
	margin: -250px 0 0 0;
}

@media ( max-width : 767px) {
	.modal {
		margin: 0;
	}
}

.modal-footer {
	text-align: inherit;
}

.breadcrumb {
	margin: 10px 0;
}

.btn-toolbar {
	margin: 0;
}

.popupContent i {
	margin-right: 10px;
}

.validation-panel {
	cursor: pointer;
}

.alert {
	padding: 8px 25px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
	top: 37px;
}

a.menu:after,.dropdown-toggle:after {
	content: none;
}